h5 {
    margin: 10px 10px;
}

.status-header {
    font-weight: 500;
}

.completed {
    background-color: lightgray;
}

.active {
    background-color: powderblue;
}

.upcoming {
    background-color: navajowhite;
}