<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h3>Manage Appointments</h3>
        </div>
        <hr />
        <div>
            <div class="tim-title">
                <h4 class="status-header">Active</h4>
            </div>
            <div class="row">
                <ng-container *ngFor="let appointment of active">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header active">
                                <h5>{{ appointment.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Date & Time: {{ appointment.dateTime | date:'medium' }}</p>
                                
                                <div class="row">
                                    <div class="col">
                                        <button [disabled]="sos" type="button" class="btn btn-danger btn-round" (click)="getLocationsos()">SOS</button>
                                        <button [disabled]="checkin" id="checkin" type="button" class="btn btn-primary btn-round ms-4" (click)="getLocationcheckin()">Check In</button>
                                        <button [disabled]="checkout" id="checkout"type="button" class="btn btn-primary btn-round ms-4" (click)="getLocationcheckout()">Check Out</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr />
            <div class="tim-title">
                <h4 class="status-header">Upcoming</h4>
            </div>
            <div class="row">
                <ng-container *ngFor="let appointment of upcoming">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header upcoming">
                                <h5>{{ appointment.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Date & Time: {{ appointment.dateTime | date:'medium' }}</p>
                                <button *ngIf="isCheckInVisible(appointment.dateTime)"
                                    class="btn btn-success btn-round mt-2" (click)="getLocation()">Check-In</button>
                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>
            <hr />
            <div class="tim-title">
                <h4 class="status-header">Completed</h4>
            </div>
            <div class="row">
                <ng-container *ngFor="let appointment of completed">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header completed">
                                <h5>{{ appointment.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Date & Time: {{ appointment.dateTime | date:'medium' }}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>