.tim-title {
    text-align: center
}

#buttons {
    align-items: center
}

.button-yellow {
    background-color: #F99746
}

.button-green {
    background-color: #88B374
}

.button-blue {
    color: #3C6EB4
}