<div class="section section-buttons">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="tim-title">
                    <h3>Manage Therapists</h3>
                </div>
            </div>

            <div class="col-4 align-self-end">
                <button type="button" class="btn btn-outline-primary btn-round float-right" [routerLink]="['/therapist']">Add New Therapist</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Location</th>
                    <th scope="col">DOJ</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Active</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let therapist of therapists">
                    <td>{{ therapist.first_name }} {{ therapist.last_name }}</td>
                    <td>{{ therapist.email }}</td>
                    <td>{{ therapist.phone_no }}</td>
                    <td>{{ therapist.location }}, {{ therapist.post_code }}</td>
                    <td>{{ therapist.user_created_date }}</td>
                    <td>{{ therapist.tags }}</td>
                    <td>{{ therapist.active }}</td>
                    <td>
                        <a><i class="fa fa-edit" style="font-size:18px"></i></a>
                        <a><i class="fa fa-trash ms-3" style="font-size:18px; color:red; margin-left: 8px"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>