<div class="section section-buttons">
    <div class="container">
        <br/>
        <br/>
        <div class="row">
            <ng-container>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header" routerLink="/manage-users">
                            <h5>Manage Users</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header" routerLink="/manage-therapist">
                            <h5>Manage Therapist</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header" routerLink="/manage-sessions">
                            <h5>Manage Sessions</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header" routerLink="/manage-appointments">
                            <h5>Manage Appointments</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header" routerLink="/add-funds">
                            <h5>Add Funds</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>