.primary {
    background-color: #1c468a;
    color: white;
}

.fa.fa-clock::before {
    content: "\f017";
}

hr {
    border-color: coral;
}

.danger {
    background-color: darkred;
    color: white;
}

.waiting {
    background-color: darkgoldenrod;
    color: white;
}

.secondary {
    background-color: blueviolet;
    color: white;
}

.info {
    background-color: #34b5b8;
    color: white;
}

.warning {
    background-color: darkcyan;
    color: white;
}

.success {
    background-color: darkgreen;
    color: white;
}