<div class="section section-buttons">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="tim-title" style="margin-bottom: 0px;">
                    <h3>Admin Dashboard</h3>
                </div>
            </div>

            <div class="col-4 align-self-end">
                <button type="button" class="btn btn-outline-primary btn-round float-right" [routerLink]="['/add-funds']"><i class="fa fa-plus-circle"></i> Add Funds</button>
            </div>
        </div>
        <hr />
        <div class="tim-title">
            <h4 class="status-header">Manage</h4>
        </div>
        <div class="row">
            <ng-container>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header text-center primary" routerLink="/manage-users">
                            <i class="fa fa-users mt-3 mb-3" style="font-size: 32px;"></i>
                            <br/>
                            <h5>Users</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header text-center primary" routerLink="/manage-therapist">
                            <i class="fa fa-user-md mt-3 mb-3" style="font-size: 32px;"></i>
                            <br/>
                            <h5>Therapist</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header text-center primary" routerLink="/manage-sessions">
                            <i class="fas fa fa-clock mt-3 mb-3" style="font-size: 32px;"></i>
                            <br/>
                            <h5>Sessions</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header text-center primary" routerLink="/manage-appointments">
                            <i class="fa fa-calendar mt-3 mb-3" style="font-size: 32px;"></i>
                            <br/>
                            <h5>Appointments</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            
        </div>
        <div class="tim-title">
            <h4 class="status-header">Cases</h4>
        </div>
        <div class="row">
            <ng-container>
                <div class="col-6"> <!-- Set col-12 class here -->
                    <div class="card">
                        <div class="card-header text-center danger" routerLink="/manage-users">
                            <span style="font-size: 32px;">{{highrisk}}</span>
                            <br/>
                            <h5>High Risk</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-6"> <!-- Set col-12 class here -->
                    <div class="card">
                        <div class="card-header text-center secondary" routerLink="/manage-therapist">
                            <span style="font-size: 32px;">{{referred}}</span>
                            <br/>
                            <h5>Referred to NHS</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4"> <!-- Set col-12 class here -->
                    <div class="card">
                        <div class="card-header text-center warning" routerLink="/manage-sessions">
                            <span style="font-size: 32px;">{{funds}}</span>
                            <br/>
                            <h5>Waiting for Funds</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4"> <!-- Set col-12 class here -->
                    <div class="card">
                        <div class="card-header text-center waiting" routerLink="/manage-sessions">
                            <span style="font-size: 32px;">{{counsellor}}</span>
                            <br/>
                            <h5>Waiting for Counsellor</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="col-4"> <!-- Set col-12 class here -->
                    <div class="card">
                        <div class="card-header text-center success" routerLink="/manage-appointments">
                            <span style="font-size: 32px;">{{closed}}</span>
                            <br/>
                            <h5>Total Success</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        
    </div>
</div>